.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.post-link-wrapper {
  display: block;
  text-decoration: none;
  color: inherit;
}

.image-container-home {
  position: relative;
  height: 120px; /* Adjust the height as needed */
  overflow: hidden;
}

.image-container-home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: adds a semi-transparent background */
  padding: 10px;
  border-radius: 5px;
}

.overlay-text h1,
.overlay-text p {
  margin: 0;
}
